body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.DigitalClock {
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  color: #8c1d07;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  font-weight: bold;
}
